body {
  background-image: url("https://st2.depositphotos.com/3905091/9014/v/450/depositphotos_90148548-stock-illustration-seamless-pattern-floral-bouquet-in.jpg");
  background-repeat: repeat;
}


.header1 {
   color: skyblue;
}